@font-face {
  font-family: "Helvetica_light";
  src: url("/src/fonts/Helvetica-Light.ttf") format("opentype");
}

.section {
  width: 100vw;
  padding-left: 21%;
  /* display: flex; */
}

.section_2 {
  box-sizing: border-box;
}

.section_3 {
  display: flex;
}

.cover {
  width: 39vw;
  height: 30vh;
}

.video {
  display: block;
  width: 78vw;
  height: 80vh;
}

.gif {
  width: 39vw;
  height: auto;
}

.par2 {
  font-size: 1em;
}

.links {
  margin-left: 1.5vw;
  font-family: "Helvetica_light";
  text-transform: uppercase;
  margin-bottom: 100px;
  color: red;
  text-decoration: none;
}

@media (max-width: 768px) {
  .section_4 {
    margin-top: 35vh;
    display: flex;
    flex-direction: column;

    align-items: center;
    margin-bottom: 6vh;
    gap: 20px;
  }

  .images {
    width: 70vw;
    margin-top: 10px;
  }

  .links {
    margin-left: 5vw;
  }
}
