* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Helvetica_light";
  src: url("/src/fonts/Helvetica-Light.ttf") format("opentype");
}

.section {
  width: 80vw;
}

.wrapper {
  padding: 10px;
}

.columns {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  justify-items: flex-start;
  gap: 10px;
}

.col {
  box-sizing: border-box;
}

.video {
  height: 80vh;
  width: 100%;
  border: none;
}

.iframe {
  width: 100%;
  height: 80vh;
  border: none;
}

.image {
  width: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

.cover {
  width: calc(50% - 5px);
  height: auto;
}

.gif_container {
  width: calc(50% - 5px);
  height: auto;
}

.gif {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: 50% 50%;
}

.image_1 {
  width: calc(50% - 5px);
}

.image_2 {
  width: calc(50% - 5px);
  height: auto;
  margin-top: -15.5%;
}

.img_1 {
  height: 78.2vh;
}

.carousel {
  width: calc(100% - 5px);
  height: auto;
  display: flex;
  overflow: hidden;
  justify-content: center;
  justify-self: center;
}

.carouselImage {
  width: calc(100% - 5px);
  height: auto;
  transition: transform 0.5s ease-in-out;
}

.par2 {
  font-size: 1em;
}

.links {
  margin-left: 1.5vw;
  font-family: "Helvetica_light";
  text-transform: uppercase;
  margin-bottom: 100px;
  color: red;
  text-decoration: none;
}
