@font-face {
  font-family: "Helvetica_light";
  src: url("/src/fonts/Helvetica-Light.ttf") format("opentype");
}

.section {
  width: 100vw;
  height: 100vh;
}

.flex_container {
  display: flex;
  text-align: left;
  align-items: flex-start;
  /* height: 100%; */
}

.image_container {
  width: 50%;
  padding: 20px;
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.image {
  width: 80%;
  height: auto;
}

.text_container {
  display: flex;
  flex-direction: column;
  width: 50vw;
  font-size: 1.3em;
  padding: 20px;
  padding-right: 6%;
  margin-top: 85px;
  gap: 30px;
  font-family: "Helvetica_light";
}

.return_image {
  width: 200px;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  transition: filter 500ms ease-in-out;
}

.return_image:hover {
  filter: drop-shadow(20px 20px 20px gray);
}

.contact_container {
  margin-top: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  font-size: 0.7em;
}

.contact {
  text-decoration: none;
  color: black;
  transition: color ease-in-out 200ms;
}

.contact:hover {
  color: red;
}

.collab {
  font-size: 0.75em;
}

@media screen and (max-width: 860px) {
  .flex_container {
    flex-direction: column;
    justify-content: center;
  }

  .image_container {
    width: 100%;
  }

  .image {
    max-width: 60%;
    height: auto;
  }

  .text_container {
    font-size: 1.5em;
    width: 100%;
    justify-content: center;
  }

  .contact_container {
    margin-top: 40px;
  }
}
