body {
  margin: 0;
  padding: 0;
  text-align: center; /* Center the content horizontally */
}

.img_container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow-x: hidden;
}

.flex_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.img {
  width: 25vw;
  max-width: 100%;
  height: auto;
  animation: hoverAnimation 2s ease-in-out infinite;
}

@keyframes hoverAnimation {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(30px);
  }
}

.img:nth-child(1) {
  margin-top: 40vh;
}

.img:nth-child(2) {
  margin-bottom: 50vh;
}

.img:nth-child(3) {
  margin-top: 35vh;
}

.img:nth-child(4) {
  margin-bottom: 40vh;
}

.image_container {
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 768px) {
  .img:nth-child(1) {
    margin-bottom: 90vh;
  }

  .img:nth-child(2) {
    display: none;
  }

  .img:nth-child(3) {
  }

  .img:nth-child(4) {
    display: none;
  }

  .img {
    width: 50vw;
  }

  .flex_container {
    height: 100%;
  }
}
