.section {
  width: 100vw;
  display: flex;
}

html {
  font-size: 17px;
}

@font-face {
  font-family: "Helvetica_light";
  src: url("/src/fonts/Helvetica-Light.ttf") format("opentype");
}

.title_section {
  width: 20%;

  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;

  padding: 0px 30px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
}

.content_section {
  flex-grow: 1;
  box-sizing: border-box;
  margin-left: 20%;
  overflow: hidden;
}

.ul {
  padding: 0;
  margin: 0;
  margin-top: 2rem;
  display: flex;
  justify-content: left;
  flex-wrap: wrap;
  gap: 2px;
}

.back {
  margin-top: 1rem;
  width: 70px;
  height: auto;
  margin-left: 70%;
  max-width: 100%;
  transition: rotate ease-in-out 0.5s;
}

.back:hover {
  rotate: 20deg;
}

.tags {
}

.tag {
  border: solid black 1px;
  border-radius: 20px;
  padding: 0.1rem 0.8rem;
  font-family: "Helvetica_light";
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 7px;
  background-color: white;
  max-width: 100%;
}

.info {
  font-size: 9px;
  margin-top: 0.4rem;
  font-family: "Helvetica_light";
}

.title {
  text-transform: uppercase;
  font-style: oblique;
  font-size: 1.3rem;
  font-family: "Helvetica_light";
  margin-top: 0.5rem;
}

.description {
  margin-top: 1.5rem;
  font-size: 0.7rem;
  font-weight: 0;
  font-family: "Helvetica_light";
}

.par_1 {
  font-size: 1em;
  font-family: "Helvetica_light";
}

.par_2 {
  margin-top: 0.5rem;
  font-family: "Helvetica_light";
}

.image_2_container {
  width: 30%;
}
.image_2 {
  display: block;
  max-width: 100%;
  height: auto;
}

@media screen and (max-width: 450px) {
  html {
    font-size: 13px;
  }
}

@media screen and (max-width: 870px) {
  .section {
    flex-direction: column;
  }

  .title_section {
    position: relative;
    width: 100%;
  }

  .content_section {
    flex-grow: 1;
    margin-left: 0%;
    overflow: hidden;
  }

  .info {
    width: 50%;
    font-size: 0.9em;
  }

  .title {
    font-size: 3.5em;
  }

  .description {
    font-size: 1.2em;
  }
}

/* Media query for even larger screens */
@media screen and (min-width: 1024px) {
  html {
    font-size: 19px;
  }
}
