.section {
  width: 100vw;
}

html {
  font-size: 17px;
}

@font-face {
  font-family: "Helvetica_light";
  src: url("/src/fonts/Helvetica-Light.ttf") format("opentype");
}

.title_section {
  max-width: 18%;
  width: 100%;

  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.8);
  padding-left: 30px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: left;
}

.ul {
  padding: 0;
  margin: 0;
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 10px;
}

.tags {
}

.tag {
  border: solid black 1px;
  border-radius: 20px;
  padding: 0.2rem 0.8rem;
  font-family: "Helvetica_light";
  font-size: 15px;
  text-transform: uppercase;
  margin-bottom: 7px;
  background-color: white;
  max-width: 100%;
}

.title {
  text-transform: uppercase;
  font-style: oblique;
  font-size: 24px;
  font-family: "Helvetica_light";
}

.info {
  margin: 0;
  padding: 0;
}

.description {
  font-size: 0.8rem;
  font-weight: 0;
  font-family: "Helvetica_light";
}

.par_1 {
  font-size: 1em;
  font-family: "Helvetica_light";
}

.par_2 {
  font-family: "Helvetica_light";
}

.image_2_container {
  width: 30%;
}
.image_2 {
  display: block;
  max-width: 100%;
  height: auto;
}

@media screen and (min-width: 400px) {
  html {
    font-size: 15px;
  }
}

/* Media query for larger screens */
@media screen and (min-width: 768px) {
  html {
    font-size: 19px;
  }
}

/* Media query for even larger screens */
@media screen and (min-width: 1024px) {
  html {
    font-size: 20px;
  }
}
