.section {
  width: 100vw;
}

@font-face {
  font-family: "Helvetica_light";
  src: url("/src/fonts/Helvetica-Light.ttf") format("opentype");
}

.section_1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
  gap: 2vw;
}

.title_section {
  top: 0;
  display: flex;
  flex-direction: column;
  margin-left: 1.6vw;
  width: 20vw;
  position: fixed;
  font-family: "Helvetica-Light";
}

.title {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 200;
  font-family: Arial, Helvetica, sans-serif;
}

.info {
  margin: 0;
  padding: 0;
}

.description {
  font-size: 1rem;
  width: 50vw;
  font-weight: 0;
  font-family: "Helvetica_light";
}

.par_1 {
  font-size: 1.5em;
  text-transform: uppercase;
  font-family: "Helvetica_light";
}

.par_2 {
  font-family: "Helvetica_light";
}

.image_2_container {
  width: 30%;
}
.image_2 {
  display: block;
  max-width: 100%;
  height: auto;
}

@media (max-width: 768px) {
  .title_section {
    width: 100%;
    position: relative;
  }
  .section_1 {
    flex-direction: column;
    gap: 1rem;
    margin-top: 20px;
  }
  .description {
    margin-left: 2vw;
    width: 90vw;
  }

  .image_2 {
    width: 400px;
  }

  .image_2_container {
    display: flex;
    justify-content: center;
    width: 100vw;
  }
  .par_1 {
    font-size: 1.2em;
  }
}
